body {
  margin: 0;
  background-color: #121212;
  color: #FFD700;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 100%;
}


a {
  color: #00bcd4;
  text-decoration: none;
  font-size: 25px;
}

.widget {
  width: 3rem;
  height: 3rem;
  text-align: end;
}

.contenedorCarrito {
  width: 160px;
  text-align: end;
}

h1 {
  text-align: center;
  margin: 3rem;
}


.contenedorProductos {
  text-align: center;
  margin: 5rem;
}

img {
  height: 20rem;
  width: 20rem;
  object-fit: contain;
}

h2 {
  font-size: 28px;
}

p {
  font-size: 18px;
  color: white;
}

button {
  height: 40px;
  width: 80px;
  background-color: #00bcd4;
  border-radius: 20px;
}

mark {
  font-size: 20px;
  margin: 10px;
}

.precios {
  font-size: 20px;
  color: rgb(82, 206, 92);
}